In [ ]:
import pandas as pd

In [ ]:
!pip install arrow

In [3]:
traffic = pd.read_feather('codedDataset/trafficDataset.feather')

In [7]:
traffic

,city,station,weather,dow,datetime,hour,speed,vehicleType,energyConsumption,trafficCongestion,carCrash,pedestrianDeath
0,1,1,3,4,2021-04-01,0,31,2,9.35676,1,False,False
1,1,1,3,4,2021-04-01,0,38,2,8.35296,1,False,False
2,1,1,3,4,2021-04-01,0,29,3,11.29870,1,False,False
3,1,1,3,4,2021-04-01,0,42,1,6.56640,1,False,False
4,1,1,3,4,2021-04-01,0,41,2,7.99116,1,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
43952647,6,10,1,6,2021-07-31,0,40,1,6.75600,3,False,False
43952648,6,10,1,6,2021-07-31,0,48,2,7.30656,3,False,False
43952649,6,10,1,6,2021-07-31,0,43,2,7.77276,3,False,False
43952650,6,10,1,6,2021-07-31,0,44,3,8.94880,3,False,False
43952651,6,10,1,6,2021-07-31,0,31,1,7.79730,3,False,False